#app {
  @extend %flex-item;
}

.container__app {
  @extend %flex-item;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @include for-container-small {
    max-width: 540px;
  }
  @include for-container-tablet {
    max-width: 720px;
  }
  @include for-container-tablet-up {
    max-width: 960px;
  }
  @include for-container-desktop {
    max-width: 1140px;
  }
  @include for-container-desktop-medium {
    max-width: 1320px;
  }
  @include for-container-desktop-big {
    max-width: 1780px;
  }

  .about & {
    display: flex;
  }
  
}