:root {
    --fonts-poppins: 'Poppins', sans-serif;
    --fonts-oswald: 'Oswald', sans-serif;

    --global-monza-color: #da062c;
    --global-wild-color: #f6f6f6;
    --global-alto-color: #e0e0e0;
    --global-black-color: #000000;
    --global-tundora-color: #424242;
    --global-mine-shaft-color: #292929;
    --global-mercury-color: #e8e8e8;
    --global-white-color: #FFFFFF;

    --sidebar-width-statick: 52px;
    --sidebar-width-open: 200px;

    --global-animation-duration: 250ms;
    --global-animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
